<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Time Table</title>
    
    {% load static %}

<link rel="stylesheet" href="{% static 'css/deco.css' %}">
 
  </head>
  <body>
    <a href="index" class="top-text"><button type="button" id="top-text-std" class="top student-view">
     <p>Student View</p> 
    </button></a>
    <a href="student_register" class="top-text" href="student.html"><button type="button" id="top-text-std-regis" class="top student-view">
      <p>Student Register</p> 
    </button></a>
    <a class="top-text"href="prof_view"><button type="button" id="top-text-prof" class="top student-view">
      <p>Professor View</p> 
    </button></a>
    <a class="top-text" href="professor_subject"><button type="button" id="top-text-prof-regis" class="top student-view">
      <p>Professor Register</p> 
    </button></a>
    <a class="top-text" href="hall_view"><button type="button" id="top-text-hall" class="top student-view">
      <p>Hall View</p> 
    </button></a>
{%block content%}

{%endblock%}
    
    <script text="text/javascript">
      var subjects = [
        [
          "",
          "8:00 - 8:50",
          "8:50 - 9:40",
          "9:40 - 10:30",
          "10:30 - 11:20",          
          "Lunch",
          "12:10 - 13:00",
          "13:00 - 13:50",
          "13:50 - 14:40",
          "14:40 - 15:30"
        ],
        ["Monday", "", "", "", "","Lunch", "", "", "", ""],
        ["Tuesday", "", "", "", "","Lunch", "", "", "", ""],
        ["Wednesday", "", "", "", "","Lunch", "", "", "", ""],
        ["Thursday", "", "", "", "","Lunch", "", "", "", ""],
        ["Friday", "", "", "", "","Lunch", "", "", "", ""]
      ];

      var mytable = "<table>";

      for (var i = 0; i < subjects.length; i++) {
        mytable += "<tr>";
        for (var j = 0; j < subjects[0].length; j++) {
          // if(undefined==subjects[])
          mytable += "<td>" + subjects[i][j] + "</td>";
        }
        mytable += "</tr>";
      }
      mytable += "</tr></table>";
      document.getElementById("divid").innerHTML = mytable;

      // document.getElementById("top-text-prof-regis").onclick = function () {
      //   registerSubject();
      // };
      // function registerSubject() {
      //   document.getElementById("divid").style.transform = "translateY(200px)";

      //   // document.getElementById("divid").remove();
      //   // document.body.innerHTML = "";
      // }
      // var div = document.createElement("div");
      // div.innerHTML = "hello bro";
      // document.body.appendChild(div);
      // var tble = document.createElement("table");
      // tble.id = "table";
      // document.body.appendChild(tble);
      // $("div").addClass("hello").append("<p>hello bro</p>");

      // var tro=document.createElement()
      // document.getElementById("table").innerHTML = "<tr class='trow'></tr>";

      //   $("#trow").append('<td class="row">' + subjects[i] + "<td>");
    </script>
    <!-- <table>
      <tr>
        <td><p class="row" id="c">C</p></td>
        <td><p class="row" id="c++">C++</p></td>
        <td><p class="row" id="java">Java</p></td>
        <td><p class="row" id="maths">Maths</p></td>
        <td><p class="row" id="Physics">Physics</p></td>
        <td><p class="row" id="Chemistry">Chemistry</p></td>
        <td><p class="row" id="python">Python</p></td>
        <td><p class="row" id="DSA">DSA</p></td>
      </tr>
    </table> -->
  </body>
</html>
