{%extends 'base.html'%}
{%block content%}
    {%if not std%}

      <h1 style="margin-left: 35%;">No Students or No 8 Subjects Registered, Register!</h1>
    {%else%}
    <!-- <div id="divid"></div> -->
    <div id="table">
      <table>
        <tr>
          <th></th>
          <th>8:00 - 8:50</th>
          <th>8:50 - 9:40</th>
          <th>9:40 - 10:30</th>
          <th>10:30 - 11:20</th>
          <th>Lunch</th>
          <th>12:10 - 13:00</th>
          <th>13:00 - 13:50</th>
          <th>13:00 - 13:50</th>
          <th>13:00 - 13:50</th>
        </tr>
        {% for i in days %}
        <tr>
          <td>{{i}}</td>
          {%for j in a%}
          <td>{{j}}</td>
          {%endfor%}
          <td>Lunch</td>
          
          {%for j in c%}
          <td>{{j}}</td>
          {%endfor%}
          
        </tr>
        {% endfor %}
        <!-- <tr>
            <td>Tuesday</td>
            <td>{{i.course1}} <br> hall 1 </td>
            <td>{{i.course2}}<br> hall 2</td>
            <td>{{i.course3}}<br> hall 3</td>
            <td>{{i.course4}}<br> hall 4</td>
            <td>Lunch</td>
            <td>{{i.course1}} Lab<br> hall 5</td>
            <td>{{i.course2}} Lab<br> hall 1</td>
            <td>{{i.course3}} Lab<br> hall 2</td>
            <td>{{i.course4}} Lab <br> hall 3</td>
        </tr>
        <tr>
          <td>Wednesday</td>
          <td>{{i.course1}} <br> hall 1 </td>
          <td>{{i.course2}}<br> hall 2</td>
          <td>{{i.course3}}<br> hall 3</td>
          <td>{{i.course4}}<br> hall 4</td>
          <td>Lunch</td>
          <td>{{i.course5}} Lab<br> hall 5</td>
          <td>{{i.course6}} Lab<br> hall 1</td>
          <td>{{i.course7}} Lab<br> hall 2</td>
          <td>{{i.course8}} Lab<br> hall 5</td>
        </tr>
        <tr>
          <td>Thursday</td>
          <td>{{i.course1}} <br> hall 1 </td>
          <td>{{i.course2}}<br> hall 2</td>
          <td>{{i.course3}}<br> hall 3</td>
          <td>{{i.course4}}<br> hall 4</td>
          <td>Lunch</td>
          <td>{{i.course5}} Lab<br> hall 5</td>
          <td>{{i.course6}} Lab<br> hall 1</td>
          <td>{{i.course7}} Lab<br> hall 2</td>
          <td>{{i.course8}} Lab<br> hall 5</td>
        </tr>
        <tr>
          <td>Friday</td>
          <td>{{i.course5}}<br> hall 1</td>
          <td>{{i.course5}}<br> hall 2</td>
          <td>{{i.course6}}<br> hall 3</td>
          <td>{{i.course6}}<br> hall 4</td>
          <td>Lunch</td>
          <td>{{i.course7}}<br> hall 5</td>
          <td>{{i.course7}}<br> hall 1</td>
          <td>{{i.course8}}<br> hall 2</td>
          <td>{{i.course8}}<br> hall 3</td>
        </tr>
        -->
      </table>

    </div>
{%endif%}
{%endblock%}