{%extends 'base.html'%}
{%block content%}

    <div id="div_form">
      <form action="prof_subj_registration" method="post">
        {% csrf_token %} 
        <div id="div-prof">
          <label for="prof-name">Professor Name</label><br /><br />
          <input type="text" name="prof-name" id="prof-name-input" placeholder="Sidhartha" />
        </div>
        <div id="div-subj">
          <label for="subject-name">Subject Name</label><br /><br />
          <input type="text" name="subj-name" id="prof-subj" placeholder="C++" />
        </div>
        <div>
          <label for="prof-credit">Credits</label><br /><br />
          <input type="number"  name="credits" placeholder="4" id="prof-credit" />
        </div>
        <br /><br />
        <div>
          <input id="submit-prof-sub"  type="submit" value="Register">
        </div>
      </form>
    </div>
    
    <table style="margin-left: 22%;">
      <tr>
        <th>Sno</th>
        <th>
          Professor Id
        </th>
        <th>Professor Name</th>
        <th>Professor Subject</th>
        <th>Subject Credits</th>
        <th>Edit</th>
      </tr>
      {%for i in prof%}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.prof_subj_id}}</td>
        <td>{{i.prof_name}}</td>
        <td>{{i.subj_name}}</td>
        <td>{{i.credits}}</td>
        <td><form action="delProf" method="post">
            <input type="text" name="id" value="{{i.prof_subj_id}}" style="display: none;">
          <input type="submit" value="Delete"> </form></td>
      </tr>
      {%endfor%}
     </table>
     {%endblock%}