{%extends 'base.html'%}
{%block content%}
    {%if not a%}

    <h1 style="margin-left: 35%;">NO Time Table, Register!</h1>
  {%else%}
     <br>
     {%for i in a%}
     <div class="check">
     <input type="checkbox" name="{{i}}" class="checkbx" value="{{i}}" onclick="display(this)">&nbsp;&nbsp;{{i}}</div>
     {%endfor%}
     <br>
     
     <button onclick="clean_tb()" id="clr" >Clear</button>

     <div id="table">
      <table>
        <tr>
          <th></th>
          <th>8:00 - 8:50</th>
          <th>8:50 - 9:40</th>
          <th>9:40 - 10:30</th>
          <th>10:30 - 11:20</th>
          <th>Lunch</th>
          <th>12:10 - 13:00</th>
          <th>13:00 - 13:50</th>
          <th>13:00 - 13:50</th>
          <th>13:00 - 13:50</th>
        </tr>
     {%for i in std%}
        <tr>
          <td>Monday</td>
          <td class="cell {{i.course1}}">{{i.course1}} <br> hall 1 </td>
          <td class="cell {{i.course2}}">{{i.course2}}<br> hall 2</td>
          <td class="cell {{i.course3}}">{{i.course3}}<br> hall 3</td>
          <td class="cell {{i.course4}}">{{i.course4}}<br> hall 4</td>
          <td>Lunch</td>
          <td class="cell {{i.course1}}">{{i.course1}} Lab<br> hall 5</td>
          <td class="cell {{i.course2}}">{{i.course2}} Lab<br> hall 1</td>
          <td class="cell {{i.course3}}">{{i.course3}} Lab<br> hall 2</td>
          <td class="cell {{i.course4}}">{{i.course4}} Lab <br> hall 3</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td class="cell {{i.course1}}">{{i.course1}} <br> hall 1 </td>
            <td class="cell {{i.course2}}">{{i.course2}}<br> hall 2</td>
            <td class="cell {{i.course3}}">{{i.course3}}<br> hall 3</td>
            <td class="cell {{i.course4}}">{{i.course4}}<br> hall 4</td>
            <td>Lunch</td>
            <td class="cell {{i.course1}}">{{i.course1}} Lab<br> hall 5</td>
            <td class="cell {{i.course2}}">{{i.course2}} Lab<br> hall 1</td>
            <td class="cell {{i.course3}}">{{i.course3}} Lab<br> hall 2</td>
            <td class="cell {{i.course4}}">{{i.course4}} Lab <br> hall 3</td>
        </tr>
        <tr>
          <td>Wednesday</td>
          <td class="cell {{i.course1}}">{{i.course1}} <br> hall 1 </td>
          <td class="cell {{i.course2}}">{{i.course2}}<br> hall 2</td>
          <td class="cell {{i.course3}}">{{i.course3}}<br> hall 3</td>
          <td class="cell {{i.course4}}">{{i.course4}}<br> hall 4</td>
          <td >Lunch</td>
          <td class="cell {{i.course5}}">{{i.course5}} Lab<br> hall 5</td>
          <td class="cell {{i.course6}}">{{i.course6}} Lab<br> hall 1</td>
          <td class="cell {{i.course7}}">{{i.course7}} Lab<br> hall 2</td>
          <td class="cell {{i.course8}}">{{i.course8}} Lab<br> hall 5</td>
        </tr>
        <tr>
          <td>Thursday</td>
          <td class="cell {{i.course5}}">{{i.course5}} <br> hall 1 </td>
          <td class="cell {{i.course6}}">{{i.course6}}<br> hall 2</td>
          <td class="cell {{i.course7}}">{{i.course7}}<br> hall 3</td>
          <td class="cell {{i.course8}}">{{i.course8}}<br> hall 4</td>
          <td>Lunch</td>
          <td class="cell {{i.course5}}">{{i.course5}} Lab<br> hall 5</td>
          <td class="cell {{i.course6}}">{{i.course6}} Lab<br> hall 1</td>
          <td class="cell {{i.course7}}">{{i.course7}} Lab<br> hall 2</td>
          <td class="cell {{i.course8}}">{{i.course8}} Lab<br> hall 5</td>
        </tr>
        <tr>
          <td>Friday</td>
          <td class="cell {{i.course5}}">{{i.course5}}<br> hall 1</td>
          <td class="cell {{i.course5}}">{{i.course5}}<br> hall 2</td>
          <td class="cell {{i.course6}}">{{i.course6}}<br> hall 3</td>
          <td class="cell {{i.course6}}">{{i.course6}}<br> hall 4</td>
          <td>Lunch</td>
          <td class="cell {{i.course7}}">{{i.course7}}<br> hall 5</td>
          <td class="cell {{i.course7}}">{{i.course7}}<br> hall 1</td>
          <td class="cell {{i.course8}}">{{i.course8}}<br> hall 2</td>
          <td class="cell {{i.course8}}">{{i.course8}}<br> hall 3</td>
        </tr>
        {%endfor%}
      </table>
      {%endif%}
      <script>
        function myFunction(){
          var c=document.getElementsByClassName("cell");
          for(var i=0;i<c.length;i++)c[i].style.visibility = "hidden";
       }
       function display(ele){
        var c=document.getElementsByClassName(ele.name);
          for(var i=0;i<c.length;i++)c[i].style.visibility = "visible";
         
       
       }
       function clean_tb(){
        var c=document.getElementsByClassName("cell");
          for(var i=0;i<c.length;i++)c[i].style.visibility = "hidden";
          var d=document.getElementsByClassName("checkbx");
          for(var i=0;i<d.length;i++)d[i].checked =false;


       }
       myFunction()
      </script>
{%endblock%}