{%extends 'base.html'%}
{%block content%}

{%if not subjects%}
<h1 style="margin-left: 40%;">No Professors Registered </h1>
{%else%}
     <div id="subj_select">
      <label id="select_sub_prof">Select Professor for Subject</label>
      <form action="student_registered" method="post" 
      >
      <div id="std">
        <div>
      <label for="std_name">Student Name</label><br>
      <input type="text" name="std_name" id="std_name" required></div>
      <div id="id">
      <label for="std_id">Student Id</label><br>
      <input type="text" name="std_id" id="std_id" required></div>
    </div>  
      <br>
      {%for sub in subjects%}
      
      <div class="subject">
        <label for="">{{sub.subj_name}}</label>
<br>
        <select required name="{{sub.subj_name}}" class="profess" id="{{sub.prof_name}}"  >
<!-- subject select professor -->
          <option value="" >select professor</option>
          <option value="{{sub.prof_name}}">{{sub.prof_name}}</option>
        </select>

      </div>
      {%endfor%}
    <!-- {%for s in subjects%}
    {{s.subj_name}}
    {%endfor%} -->
    <br>
   
    <input type="submit"id="submit" value="Register">
  </form>
     </div>

    {%endif%}
    <div class="profess-subje">
      
    </div>
    
 
{%endblock%}